@media (max-width: 320px) {
    .top-panel {
        flex-flow: column;
    }
    .top-panel .logo {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .top-panel h5 {
        text-align: center;
    }
}


.header {
    display: flex;
    flex-direction: column;
}

.top-panel {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 80px;
}

h5 {
    font-size: 1.1711875rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
}

.pagination {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 25px;
    margin-top: 0;
    border-radius: 5px;
    overflow: hidden;
    list-style: none;
}

li.page-item {
    flex: auto;
    text-align: center;
}

.page-item .page-link {
    background-color: #008966;
    border-color: #007c5d;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25rem;
    color: #fff;
    border: 0 solid transparent;
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #00bc8c;
    border-color: #007c5d;
}

.header ul li a {
    cursor: auto;
    border-radius: 0!important;
}

.score {
    line-height: 55px;
    margin-left: 4px;
}
