.question-panel {
    display: flex;
    background-color: #303030;
    padding: 1rem;
    margin-bottom: 25px;
    border-radius: 0.25rem;
}

.bird-image {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    margin: 0;
    vertical-align: middle;
    border-style: none;
}

.question-panel>div {
    width: calc(100% - 240px);
    margin: 0;
}

.question-panel-aside {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.question-panel-item {
    position: relative;
    display: block;
    padding: .25rem;
    border-bottom: 1px solid #555;
    border-radius: 0;
}

.question-panel-item:last-child {
    border-bottom: 0;
}

.h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.audio-player {
    margin: 10px 40px 8px 0;
    width: 100%;
    min-width: 100px;

}

.controls {
    display: flex;
    align-items: center;
}

.timebar {
    position: relative;
    flex: 1 1;
    margin-top: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#playback-button svg {
    transition: .2s;
    width: 18px;
    height: 18px;
    color: #54b1c1;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}

.playing div {
    width: 12px;
    height: 14px;
    border-left: 4px solid #00bc8c;
    border-right: 4px solid #00bc8c;
}

.paused {
    border-radius: 50%;
    border: 2px solid #00BC8C;
    margin-right: 1rem;
    cursor: pointer;
}

.paused div {
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #00bc8c;
    border-style: solid;
    margin: 10px;

}

.timebar .timebar-bar {
    height: 4px;
    background: gray;
    width: 100%;
}

.timebar .timebar-circle {
    background-color: grey;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    transform: translate(-50%, calc(50% + 2px));
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.timebar-time-info {
    font-size: 11px;
    color: #d3d3d3;
    display: flex;
    justify-content: space-between;
}

#volume_control {
    width: 70px;
    margin-top: 23px;
    margin-left: 7px;

}
label#rngVolume_label {
    font-size: 12px;
    margin-top:-8px;
    line-height: 10px;

}

#rngVolume {
    width:70px;
}


